<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>

</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href={{ url_for("index") }}>Редактор знаний</a></li>
            <li><a href={{ url_for("data_editor") }}>Редактор данных</a></li>
            <li><a class='active' href={{ url_for("problem_solver") }}>Решатель задач</a></li>
        </ul>
    </nav>
</header>

<form>
    <div>
        <button style="padding: 15px;font-size: 16px;font-weight: 700;" id='generate' type="button" onclick="generateSchedule({{ lenerror }})">Сгенерировать расписание</button>
    </div>

    <div id="errors" style="display:none;">
        {% for error in errors %}
            error <br>
        {% endfor %}
    </div>
</form>

<div id="scheduleTable" style="display:none;" class="conteiner">
    {% set n = len(relation) %}
    <table class="fixed-table">
        <tr>
            {% for name in relation.dtypes.index %}
                <th>{{ name }}</th>
            {% endfor %}
        </tr>
        <tbody>
        {% for i in range(n) %}
            <tr>
                {% for name in relation.dtypes.index %}
                    <td> {{ relation.loc[i, name] }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
    function generateSchedule(error) {
        if (error === 0) {
            document.getElementById("scheduleTable").style.display = "block";
            document.getElementById("generate").style.background = "green";

        } else {
            document.getElementById("errors").style.display = "block";
            document.getElementById("generate").style.background = "darkred";

        }
    }
</script>
</body>
</html>